{% extends 'base.html' %}

{% block title %}
  Home
{% endblock %}

{% block content %}

    <div class="section">
      <div class="container">
        <h3 class="header orange-text">Answered Questions</h3>
        <hr>
        <ul class="collection">
          {% for question in questions %}
          <li class="collection-item">
            <a href="{{ url_for('question', question_id = question.id) }}"><h5>{{ question.question_text }}</h5></a>
            <p><strong>Asked by:</strong> {{ question.asker }}<br>
            <strong>Answered by:</strong> {{ question.expert}}</p>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>

{% endblock %}



