{% extends 'base.html' %}

{% block title %}
  Home
{% endblock %}

{% block content %}

    <div class="section">
      <div class="container">
        <h3 class="header orange-text">Answered Questions</h3>
        <hr>
        <ul class="collection">
          <li class="collection-item">
            <h5>Question 1</h5>
            <p><strong>Asked by:</strong> Herbert<br>
            <strong>Answered by:</strong> Anthony</p>
          </li>
          <li class="collection-item">
            <h5>Question 1</h5>
            <p><strong>Asked by:</strong> Herbert<br>
            <strong>Answered by:</strong> Anthony</p>
          </li>
          <li class="collection-item">
            <h5>Question 1</h5>
            <p><strong>Asked by:</strong> Herbert<br>
            <strong>Answered by:</strong> Anthony</p>
          </li>
        </ul>
      </div>
    </div>

{% endblock %}



