{% extends 'base.html' %}

{% block title %}
  Ask Question
{% endblock %}

{% block content %}
    <div class="section">
      <div class="container">
        <div class="card-panel ">
          <h3 class="header orange-text">{{ question.question_text }}?</h3>
          <p class="flow-text">{{ question.answer_text }}</p>
          
          <div class="card-panel orange" style="display: inline-block;">Asked by: {{ question.asker }}</div><br>
          <div class="card-panel orange" style="display: inline-block;">Answered by: {{ question.expert }}</div>
        </div>
      </div>
    </div>
{% endblock %}