{% extends 'base.html' %}

{% block title %}
  Ask Question
{% endblock %}

{% block content %}
    <div class="section">
      <div class="container">
        <div class="card-panel ">
          <h3 class="header orange-text">What?</h3>
          <p class="flow-text">This is the answer</p>
          
          <div class="card-panel orange" style="display: inline-block;">Asked by: Kotridis</div><br>
          <div class="card-panel orange" style="display: inline-block;">Answered by: John Malakas</div>
        </div>
      </div>
    </div>
{% endblock %}