{% extends 'base.html' %}

{% block title %}
  Unanswered
{% endblock %}

{% block content %}

    <div class="section">
      <div class="container">
        <h3 class="header orange-text">Questions for you {{ user['name'] }} to answer</h3>
        <hr>
        <ul class="collection">
          {% for question in questions %}
          <li class="collection-item">
            <a href="{{ url_for('answer', question_id = question.id) }}"><h5>{{ question.question_text }}</h5></a>
            <p><strong>Asked by:</strong> {{ question.username }}<br>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>

{% endblock %}



