{% extends 'base.html' %}

{% block title %}
  Users
{% endblock %}

{% block content %}

    <div class="section">
      <div class="container">
        <h3 class="header orange-text">Users</h3>
        <p>Click to promote to expert</p>

        <hr>
        <ul class="collection">
          <li class="collection-item">
            <a href="#">John</a>
          </li>
          <li class="collection-item">
            <a href="#">Anthony</a>
          </li>
          <li class="collection-item">
            <a href="#">Teo</a>
          </li>
        </ul>

      </div>
    </div>

{% endblock %}