{% extends 'base.html' %}

{% block title %}
  Users
{% endblock %}

{% block content %}

    <div class="section">
      <div class="container">
        <h3 class="header orange-text">Users</h3>
        <p>Click to promote to expert</p>

        <hr>
        <ul class="collection">
          {% for user in users %}
          <li class="collection-item {% if user['expert'] == 1 %} orange lighten-5 {% endif %}">
            <a href="{{ url_for('promote', user_id=user['id']) }}">{{ user['name'] }}</a>
          </li>
          {% endfor %}
        </ul>

      </div>
    </div>

{% endblock %}